@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

.site-header {
     background-color: white;
     color:turquoise;
     height: 120vh;
    /* align-items:center; */
    font-family: 'Old Standard TT', serif;

} 
.site-header{
    /* margin: 90px; */
}


img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    box-shadow: rgb(17, 16, 16) 2px 5px 5px;
    margin-bottom:10vh;
    margin-top: 10vh;

} 
#EC{
    font-style: italic;
}
#social-links{
    display: inline-block;
    /* text-align: center; */
    display: grid; 
    place-items: center;
    list-style-type: none;
    margin-right: 50%;
}

#greetings{
    /* color: turquoise; */
    
    text-align: center;
    display: block;font-size: x-large;
    font-style: italic;
}

body {
    margin: 5;
}

#name {
    color: blue;

}
